.forgetPass
{
    margin-top:200px
}

.forgetPass button
{
    margin-right: 300px;
    margin-top: 20px;
    width:200px
}



/********** Reset Password ********/

.resetPassword input
{
    display: block;
    margin-right: 220px;
    margin-bottom: 20px;
    width:400px;
    border: 1px solid #DDD
}